<div class="container">
  <div>
    <a href="/customers/<%= customer[:id] %>"><%= customer[:id] %></a>
  </div>
  <div>
    Name: <%= customer[:first_name] %> <%= customer[:last_name] %>
  </div>
  <div>
    Email: <%= customer[:email]%>
  </div>
  <div>
    Status: <%= customer[:status] %>
  </div>
</div>
